extends ../layout.jade

block title
  title= title
block content
  h2 Update User

  form(method='post', action='edit')
    input(type='hidden', value='put', name='_method')
    div(class='field')
      label Username
      input(type='text', name='username', value='#{user.username}')
    div(class='field')
      label Password (leave blank to keep current password)
      input(type='password', name='password')
    div(class='field')
      label Confirm Password
      input(type='password', name='confirmation')
    div(class='field')
      input(class='button', type='submit', value='Update User')
